<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726827495376-vngpq28t09cot846c3rfjd75k56u5ole.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726827495376-vngpq28t09cot846c3rfjd75k56u5ole</string>
	<key>API_KEY</key>
	<string>AIzaSyBIy2-llDow41QKSTcRs_fD_kePN75QyOg</string>
	<key>GCM_SENDER_ID</key>
	<string>726827495376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.unicornCafe.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>unicorn-cafe-a22d2</string>
	<key>STORAGE_BUCKET</key>
	<string>unicorn-cafe-a22d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726827495376:ios:26168be252dc4c3c48d3d5</string>
</dict>
</plist>